<div class="form">	
	<ul class="tab-group">
			<li class="tab"><a [routerLink]="['/signup']">Sign Up</a></li>
			<li class="tab active"><a [routerLink]="['/login']">Log In</a></li>
	</ul>

	<div class="tab-content">
		<div id="login">   
			<h1>Welcome Back!</h1>
			<form #logForm = "ngForm" (submit) = "login(logForm.value)">
				<div class="field-wrap">
					<input #mail="ngModel" ngModel name="mail"
					type="email" 
					required 
					autocomplete="off" 
					placeholder="Email Address"
					appValidMail
					/>
					<div *ngIf="mail.errors && mail.errors.wrongMail" class="error-text">Note: {{ mail.errors && mail.errors.wrongMail}}</div>
				</div>
				<div class="field-wrap">
					<input ngModel name="password" 
					#pass="ngModel"
					type="password"
					required 
					autocomplete="off" 
					placeholder="Password"
					minlength="5"
					/>
					<div *ngIf="pass.errors" class="error-text">Note: password should be at least 5 characters</div>
				</div>
			
				<!--<p class="forgot"><a href="#">Forgot Password?</a></p> 
				TODO - add working email reminder
				-->
				
				<button class="button button-block" type="submit" [disabled]= "logForm.invalid">Log In </button>
			</form>
			
		</div>	
	</div>
</div>
