<div class="form">
	<div class="tab-content">
		<div id="login">   
			<h1>Welcome Back!</h1>
			<form [formGroup] = "loginForm" (submit) = "login(loginForm.value)">
				<div class="field-wrap">
					<input name="mail" type="email" autocomplete="off" placeholder="Email Address" [formControl] = "loginForm.get('mail')"/>
					<div *ngIf="loginError" class="error-text">Note: {{loginErrorText}}</div>
				</div>

				<div class="field-wrap">
					<input name="password" type="password" autocomplete="off" placeholder="Password" [formControl] = "loginForm.get('password')"/>
					<div *ngIf="loginForm.get('password').errors" class="error-text">Note: password should be at least 5 characters</div>
				</div>

				<button class="button button-block" type="submit" [disabled]= "loginForm.invalid">Log In </button>
			</form>
		</div>	
	</div>
</div>
